
#git-icon {
  background-image: url("./assets/stack_icons/git.png");
}

#csharp-icon {
  background-image: url("./assets/stack_icons/csharp.png");
}

#unity-icon {
  background-image: url("./assets/stack_icons/unity.png");
}

#powerplatform-icon {
  background-image: url("./assets/stack_icons/powerplatform.png");
}

#powerapps-icon {
  background-image: url("./assets/stack_icons/powerapps.png");
}

#powerbi-icon {
  background-image: url("./assets/stack_icons/powerbi.png");
}

#powerautomate-icon {
  background-image: url("./assets/stack_icons/powerautomate.png");
}

#kotlin-icon {
  background-image: url("./assets/stack_icons/kotlin.png");
}

#java-icon {
  background-image: url("./assets/stack_icons/java.png");
}

#spring-icon {
  background-image: url("./assets/stack_icons/spring.png");
}

#python-icon {
  background-image: url("./assets/stack_icons/python.png");
}

#flask-icon {
  background-image: url("./assets/stack_icons/flask.png");
}

#jquery-icon {
  background-image: url("./assets/stack_icons/jquery.png");
}

#react-icon {
  background-image: url("./assets/stack_icons/react.png");
}

#mysql-icon {
  background-image: url("./assets/stack_icons/mysql.png");
}

#numpy-icon {
  background-image: url("./assets/stack_icons/numpy.png");
}

#pandas-icon {
    background-image: url("./assets/stack_icons/pandas.png");
}

#matplotlib-icon {
  background-image: url("./assets/stack_icons/matplotlib.png");
}
